body{
    margin: 0;
    padding: 0;
}
/* ---------boutique------- */
h2, .card-price{
    text-align: center;
    height: 100%;
}
.card > img{
    width: 100%;
    height: 100%;
}
.container-card{
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    justify-items: center;
}
.card{
    display: grid;
    background-color: brown;
    margin: 5%;
    max-width: 250px;
    height: calc(225px);
}
.card-price{
    background-color: burlywood;
}
button{
    height: 35px;
}
.cat-vin{
    text-align: center;
    background-color: bisque;
    margin: 50px 0;
}
@media screen and (max-width:800px) {
    .container-card{
        grid-template: auto/ repeat(2, 1fr);
        grid-gap: 15px;
        margin: 50px;
    }
}
/* ---------boutique------- */