body{
    margin: 0px;
    background-color:#9dacca ;
}
header{
    background-color: #4c4f61;
    height:220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
}
.title{
    justify-content: center;
    display: flex;
    color: #5fb458;
    font-size: 40px;
    margin-top: -1px;
}
.para1{
    display: flex;
    justify-content: center;
    color: #d6dde5;
    font-size: 30px;
    line-height: 50px;
}
.logo{
    margin-top: -150px;
    height: 100px;
    margin-left: 5%;
    float: left;
}
.menu{
    justify-content:space-around;
    display: flex;
    padding: 20px;
    background-color:#5fb458;
    font-size: 20px;
    align-items: center;
}
.menu > a{
    text-decoration: none;
}
.burger{
    display: none;
}
#search{
    border-radius:30px;
    border: 2px solid black;
    text-align: center;
    height: 30px;
}
@media screen and (max-width: 650px)
    {
    header{
        margin:auto;
        width:100%;
        height: 100px;
        background-color:#9dacca
    }
    .title{
        font-size:25px;
    }
    .para1{
        font-size: 16px;
        margin-left: 60px;
        margin-top: 15px;
        line-height: 30px;
    }
    .burger,.logopanier{
        display:inline-block;
        cursor:pointer;
        background: none;
        border: none;
        margin-top: -5px;
        margin-left: -25px;
        width: 50px; height: 50px;
    }
    .menu > a{
        display: none;
    }
    .logo{
        margin-top: -100px;
        height: 75px;
        margin-left: 25px;
        float:left;
    }
    .shop{
        background: none;
        border: none;
        display:inline-block;
        cursor:pointer;
        margin-top: -10px;
        margin-left: 30px;
    }
    .menu{
        margin-left: 25px;
        background-color:#9dacca
    }
}